<meta name="viewport" content="width=device-width, initial-scale=1">
<ion-content>
    <ion-card>
        <div class="header">
            <img class="avatar " src="assets/icon/user-credencial.png" alt="">
            <h1 class="title-avatar">𝖥𝖺𝖻𝗂𝖺𝗇 𝖹𝖺𝗆𝖻𝗋𝖺𝗇𝗈 𝖥𝗅𝗈𝗋𝖾𝗌</h1>
            <p class="p-avatar">Rut: 20.948.291-k</p>
        </div>
    </ion-card>
    <ion-card>
        <div class="card-info">
            <p class="title-info">𝖨𝗇𝖿𝗈𝗋𝗆𝖺́𝗍𝗂𝖼𝖺 𝗒 𝖳𝖾𝗅𝖾𝖼𝗈𝗆𝗎𝗇𝗂𝖼𝖺𝖼𝗂𝗈𝗇𝖾𝗌</p>
            <p class="p-info">𝖠𝗇𝖺𝗅𝗂𝗌𝗍𝖺 𝖯𝗋𝗈𝗀𝗋𝖺𝗆𝖺𝖽𝗈𝗋 𝖢𝗈𝗆𝗉𝗎𝗍𝖺𝖼𝗂𝗈𝗇𝖺𝗅</p>
            <div class="linea-b"></div>
        </div>
        <div class="card-info">
            <hr>
        </div>
        <div class="card-info_2">
            <p class="p-info2">𝘝𝘪𝘯̃𝘢 𝘋𝘦𝘭 𝘔𝘢𝘳</p>
        </div>
    </ion-card>
    <ion-card>
        <div>
            <img class="codigo_barras" src="assets/icon/codigo_barra.jpg">
            <p class="texto">𝘌𝘴𝘵𝘦 𝘤𝘰́𝘥𝘪𝘨𝘰 𝘱𝘰𝘥𝘳𝘪́𝘢 𝘴𝘦𝘳 𝘶𝘵𝘪𝘭𝘪𝘻𝘢𝘥𝘰 𝘱𝘢𝘳𝘢 𝘦𝘭 𝘪𝘯𝘨𝘳𝘦𝘴𝘰 𝘢 𝘭𝘢 𝘴𝘦𝘥𝘦</p>
            <p><a href="sdsdd">Not-found prueba</a></p>
        </div>
    </ion-card>
    <div class="button-cerrar ">
        <ion-button color="warning " (click)="crud()">𝗖𝗿𝗲𝗮𝗰𝗶𝗼𝗻 𝗱𝗲 𝗺𝗲𝗻𝘀𝗮𝗷𝗲𝘀</ion-button>
    </div>
</ion-content>