<meta name="viewport" content="width=device-width, initial-scale=1">
<ion-content>
    <ion-content fullscreen class="ion-padding">
        <ion-fab class="modificar-logo" horizontal="end" vertical="top" slot="fixed" edge>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
                <ion-fab-button color="light">
                    <a href="">
                        <ion-icon name="logo-discord">https://www.duoc.cl/</ion-icon>
                    </a>

                </ion-fab-button>
                <ion-fab-button color="light">
                    <ion-icon name="newspaper-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ion-content>
    <ion-app>
        <ion-content fullscreen>
            <div class="title-center">
                <h1>𝙳𝚘𝚗𝚍𝚎 𝚎𝚜𝚝𝚊𝚖𝚘𝚜</h1>
            </div>
            <ion-card>
                <img src="assets/icon/0.jpg" />
                <ion-card-header>
                    <ion-card-title>Campus Virtual</ion-card-title>
                    <ion-card-subtitle>Teléfono:+5622999-Opcion 1</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Campus 100% online
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/1.png" />
                <ion-card-header>
                    <ion-card-title>Sede Alameda</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540363</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. España 8, Santiago Centro, Metro Estación República (esquina Alameda).
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/2.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Antonio Varas</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540400</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Antonio Varas 666, Providencia.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/4.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Educación Continua</ion-card-title>
                    <ion-card-subtitle>Teléfono: +56229994500</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Miguel Claro 337, Providencia, Santiago.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/5.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Maipú</ion-card-title>
                    <ion-card-subtitle>Teléfono: 225606900</ion-card-subtitle>

                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. Esquina Blanca 501, Maipú.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/6.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Melipilla</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540560</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Serrano 1105, Melipilla.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/7.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Padre Alonso de Ovalle</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540600</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Padre Alonso de Ovalle 1586, Santiago Centro.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/8.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Plaza Norte</ion-card-title>
                    <ion-card-subtitle>Teléfono: 229993000</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Calle Nueva 1660, Huechuraba.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/9.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Plaza Oeste</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540800</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. Américo Vespucio 1501, Mall Plaza Oeste, Cerrillos.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/10.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Plaza Vespucio</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540700</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Froilán Roa 7107, Mall Plaza Vespucio, La Florida.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/11.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Puente Alto</ion-card-title>
                    <ion-card-subtitle>Teléfono: 223540900</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. Concha y Toro 1340 c/San Carlos, Puente Alto.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/12.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede San Bernardo</ion-card-title>
                    <ion-card-subtitle>Teléfono: 229993373</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Freire 857, San Bernardo.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/13.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede San Carlos de Apoquindo</ion-card-title>
                    <ion-card-subtitle>Teléfono Central(Lunes-Viernes): 23540200 Telefono(Lunes-Sabado): 23540285
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Camino El Alba 12881, Las Condes.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/14.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede San Joaquín</ion-card-title>
                    <ion-card-subtitle>Teléfono: 225606700</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. Vicuña Mackenna 4917, Metro San Joaquín, San Joaquín.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/15.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Valparaíso</ion-card-title>
                    <ion-card-subtitle>Teléfono: 322268700</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Av. Brasil 2021, esquina Rodríguez, Valparaíso.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/16_.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Viña del Mar</ion-card-title>
                    <ion-card-subtitle>Teléfono: 322268600</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Álvarez 2366, Chorrillos, Viña del Mar.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/17.jpg" />
                <ion-card-header>
                    <ion-card-title>Campus Arauco</ion-card-title>
                    <ion-card-subtitle>Teléfono: 412396100</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Camino a Carampangue N° 1060, Arauco.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/18.jpg" />
                <ion-card-header>
                    <ion-card-title>
                        Sede San Andrés de Concepción</ion-card-title>
                    <ion-card-subtitle>Teléfono: 412268200</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Paicaví 3280 (Sector Rotonda El Trébol), Concepción.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/19.jpg" />
                <ion-card-header>
                    <ion-card-title>Campus Villarrica</ion-card-title>
                    <ion-card-subtitle>Teléfono: 452438100</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Anfión Muñoz 51, Villarrica.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="assets/icon/20.jpg" />
                <ion-card-header>
                    <ion-card-title>Sede Puerto Montt</ion-card-title>
                    <ion-card-subtitle>Teléfono: 652394437</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Dirección: Egaña 651, Puerto Montt.
                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>
</ion-content>